<div class="content-panel">
  <div class="panel">
    <!-- <p-panel header="{{title}}" styleClass="panel">
    </p-panel> -->
    <p-dataTable [value]="patients" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
      <p-header>
        {{title}}
        <button pButton type="button" class="ui-button-info" icon="fa-plus" label="NUEVO" style="float: right; font-size: 10pt; font-weight: bold;"
          (click)="doFindAllPatients()"></button>
      </p-header>
      <p-column field="ID" header="ID"></p-column>
      <p-column field="nomApe" header="Nom. Ape."></p-column>
      <p-column field="age" header="Edad"></p-column>
      <p-column field="sex" header="Sexo"></p-column>
      <p-column field="dateNac" header="Fec. Nac."></p-column>
    </p-dataTable>
  </div>
</div>
